numpy==1.24.2
opencv-python
opencv-python-headless
streamlit==1.18.1
moviepy==1.0.3
docx2pdf==0.1.8
docx==0.2.4
PyPDF2==3.0.1
Pillow==9.4.0
comtypes==1.1.14
pytube==12.1.2
img2pdf==0.4.4
pydub

